<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.rmg.testrequests.RMG_API_06_addPRojectWithTextFromatBody"/>
      <class name="com.rmg.testrequests.RMG_API_08_getAllProjects"/>
      <class name="com.rmg.testrequests.CreateProjectTest"/>
      <class name="com.rmg.testrequests.DuplicateProjectTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
